@import 'src/consts.scss';

.song-page {
  padding: 20px 30px;

  .section-header {
    font-size: 1.4rem;
    color: $fourth;
    font-weight: bold;
    text-align: start;
  }

  .checkbox-round {
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    &:checked {
      background-color: $primary;
    }
  }

  .project-top-line {
    display: flex;
    justify-content: space-between;
  }

  .top-left {
    display: flex;
    align-items: flex-start;
  }

  .project-length {
    margin-left: 12px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .project-title {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .middle-section {
    margin: 12px 0;
  }

  .project-description {
    margin: 12px 0;
    text-align: start;
  }
}
