@import 'src/consts.scss';

.track-row {
  display: flex;
  align-items: center;

  .waveform-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    &.disabled {
      filter: brightness(0.7);
    }
  }

  .control-box {
    background-color: $third;
    border-radius: 10px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    cursor: pointer;
    width: 60px;
  }
}
