@import 'src/consts.scss';

.song-page {
  padding: 20px 30px;

  .section-header {
    font-size: 1.4rem;
    color: $fourth;
    font-weight: bold;
    text-align: start;
  }

  .track-container {
    display: flex;
    width: 80%;
    align-items: center;
    transition: 0.2s;
    &.disabled {
      filter: brightness(0.7);
    }
  }

  .checkbox-round {
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    &:checked {
      background-color: $primary;
    }
  }
}
