@import '/src/consts.scss';

.audio-card-container {
  text-align: left;
  justify-content: space-between;
  display: flex;
  width: $audio-card-container-width;
  border-radius: 6px;
  padding: $audio-card-container-padding-y $audio-card-container-padding-x;
  margin: $audio-card-container-margin-y $audio-card-container-margin-x;
  align-items: center;
  height: 5rem;
  background-color: $secondary;
  cursor: pointer;
  &:hover {
    filter: brightness(0.9);
    transition: 0.2s;
  }

  .audio-card-first-column {
    display: flex;
    flex: 1;
  }

  .audio-card-second-column {
    display: flex;
    flex:2;
    flex-direction: column;
    justify-content: left;

    &.author-displayed {
      margin-left: 2rem;
    }
    flex: 2.5;
  }
  .audio-card-third-column {
    flex-direction: column;
    flex: 6;
    margin-right: 2rem;
  }

  .song-name {
    margin-top: -0.75rem;
    display: flex;
    margin-left: 4rem;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .song-description {
    display: flex;
    margin-left: 4rem;
    color: $third;
  }

  .audio-file-container {
    display: flex;
    justify-content: center;
  }
  .audio-file {
    width: 100%;
  }

  .read-more {
    background: none;
    border: none;
    color: $primary;
    cursor: pointer;
    font-size: inherit;
    text-decoration: underline;
    white-space: nowrap;
  }

  .tags {
    display: flex;
    justify-content: end;
    flex: 1;
  }
}

.rhap_container {
  background-color: transparent;
  box-shadow: none;
}

.rhap_time {
  color: $off-white;
}
