@import "src/consts.scss";

.navbar {
  width: 100%;
  height: 10vh;
  border-bottom: 2px solid $secondary;
  display: flex;
  align-items: center;
    justify-content: flex-start;
  .site-name {
    font-size: 2rem;
    font-weight: bold;
  }

  .navbar-center {
    position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }

  .navbar-left {
    margin-left: 2rem;
  }
}
