@import 'src/consts.scss';

.navbar {
  width: 100%;
  height: 10vh;
  border-bottom: 2px solid $secondary;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  .site-name {
    font-size: 2rem;
    font-weight: bold;
  }

  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-left {
    margin-left: 2rem;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      filter: brightness(0.8);
    }
  }

  .logout-icon {
    width: 20px;
    height: 20px;
    path {
      stroke: $off-white;
    }
  }

  .logout-label {
    margin-right: 20px;
    margin-left: 8px;
  }
}
